NEXT_PUBLIC_SUPABASE_URL= https://jpvaddisoipzpjxnpkot.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwdmFkZGlzb2lwenBqeG5wa290Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMzI5NjMsImV4cCI6MjA4NzcwODk2M30.F6yuHiVmzUYHRm3GiBNrKVxk2m4dwNCssWCFiW4vBlE
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwdmFkZGlzb2lwenBqeG5wa290Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjEzMjk2MywiZXhwIjoyMDg3NzA4OTYzfQ.1JC3HNrY76gpR1dtWNMgkTochIILoF0X-HLoM5c8TyE

